.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  text-align: center;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgb(241, 241, 241);
  color: var(--text-color);
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: #a5a5a5;
}
